In [11]:
# setiap buka file baru selalu copas 2 atau 3 cell ter atas ini
import pandas as pd
import numpy as np 
import mysql.connector
import sqlalchemy as alc
from sqlalchemy import create_engine

In [12]:
# untuk kalau menggunakan mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'a09101993',
    database = 'world'
)

In [14]:
# untuk kalau menggunakan SQLalchemy
engine=create_engine('mysql+mysqlconnector://root:a09101993@localhost/world')

In [15]:
mycursor = mydb.cursor()
mycursor.execute('''
select * from country
limit 10;
''')
myresult = mycursor.fetchall()
columns = mycursor.column_names
tables = pd.DataFrame(myresult, columns = columns)
tables

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.00,NaN,103000,78.4,828.00,793.00,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.00,1919.0,22720000,45.9,5976.00,None,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1,AF
2,AGO,Angola,Africa,Central Africa,1246700.00,1975.0,12878000,38.3,6648.00,7984.00,Angola,Republic,José Eduardo dos Santos,56,AO
3,AIA,Anguilla,North America,Caribbean,96.00,NaN,8000,76.1,63.20,None,Anguilla,Dependent Territory of the UK,Elisabeth II,62,AI
4,ALB,Albania,Europe,Southern Europe,28748.00,1912.0,3401200,71.6,3205.00,2500.00,Shqipëria,Republic,Rexhep Mejdani,34,AL
5,AND,Andorra,Europe,Southern Europe,468.00,1278.0,78000,83.5,1630.00,None,Andorra,Parliamentary Coprincipality,,55,AD
6,ANT,Netherlands Antilles,North America,Caribbean,800.00,NaN,217000,74.7,1941.00,None,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33,AN
7,ARE,United Arab Emirates,Asia,Middle East,83600.00,1971.0,2441000,74.1,37966.00,36846.00,Al-Imarat al-´Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65,AE
8,ARG,Argentina,South America,South America,2780400.00,1816.0,37032000,75.1,340238.00,323310.00,Argentina,Federal Republic,Fernando de la Rúa,69,AR
9,ARM,Armenia,Asia,Middle East,29800.00,1991.0,3520000,66.4,1813.00,1627.00,Hajastan,Republic,Robert Kotšarjan,126,AM

In [16]:
query = '''
select * from country
limit 10;
'''
pd.read_sql_query(query,engine)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34,AL
5,AND,Andorra,Europe,Southern Europe,468.0,1278.0,78000,83.5,1630.0,NaN,Andorra,Parliamentary Coprincipality,,55,AD
6,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33,AN
7,ARE,United Arab Emirates,Asia,Middle East,83600.0,1971.0,2441000,74.1,37966.0,36846.0,Al-Imarat al-´Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65,AE
8,ARG,Argentina,South America,South America,2780400.0,1816.0,37032000,75.1,340238.0,323310.0,Argentina,Federal Republic,Fernando de la Rúa,69,AR
9,ARM,Armenia,Asia,Middle East,29800.0,1991.0,3520000,66.4,1813.0,1627.0,Hajastan,Republic,Robert Kotšarjan,126,AM